@font-face {
  font-family: 'IranSans';
  font-weight: bold;
  font-style: normal;
  src: url('./Fonts/IranSans-Bold.woff2') format('woff2'), url('./Fonts/IranSans-Bold.woff') format('woff'),
    local('IranSans'), local('Iran Sans'), local('iransans'), local('iran sans');
}

@font-face {
  font-family: 'IranSansNumbers';
  font-style: normal;
  font-weight: normal;
  src: url('./Fonts/IRANSansWeb(FaNum).woff2') format('woff2'), url('./Fonts/IRANSansWeb(FaNum).woff') format('woff'),
    url('./Fonts/IRANSansWeb(FaNum).ttf') format('truetype'),
    url('./Fonts/IRANSansWeb(FaNum).eot') format('embedded-opentype');
}

body {
  font-family: 'IranSansNumbers', IRANSans, sans-serif;
}

.check-item {
  margin-bottom: 15px;
}

.site-content .site-layout-background {
  background: #fff;
}

.site-content {
  padding: 5%;
}

footer {
  background-color: #d4eaff;
}

.experiment-main-column {
  padding: 5%;
}



